<!DOCTYPE html>
<html>
    <head>
     {% include head.html %}
    </head>
    <body>
        {% include header.html %}
        <div class="section wf-section">
            <div class="w-container">
              {% if page.hero %}
              <img src="{{ page.hero}}" alt="{{page.title}}" class="main-image" />
              {% endif %}
                <h1 class="post-heading">{{ page.title }}</h1>
                <div class="byline-wrapper">
                    <div class="byline-text">{{ page.date }}</div>
                    <div class="byline-text">In</div>
                    <a href="/category/{{ page.categories[0]}}" class="byline-link">{{ page.categories[0] | capitalize}}</a>
                </div>
                <div class="blog-content w-richtext">
                    {{ content }}
                </div>
            </div>
        </div>
        {% include footer.html %}
    </body>
</html>
